@media screen and (max-width: 1250px) {
  .navbar .navbar-content h1 {
    font-size: 35px;
    margin: 10px 0;
  }

  .navbar .navbar-content h3 {
    font-size: 13.5pt;
  }

  .navbar .brand img {
    width: 165px;
  }
}
.room-number label {
  text-transform: uppercase;
}
@media screen and (max-width: 390px) {
  .feedback-video-modal {
    margin: 0 5px;
  }
  .feedback-tutorial .feedback-video-modal button {
    font-size: 10px;
    letter-spacing: -0.2px;
    width: 140px;
  }
  .room-number label {
    font-size: 12px;
  }
  .navbar .navbar-content h1 {
    font-size: 25px;
  }
  .feedback {
    max-width: 300px;
    padding: 0.15in;
    border-radius: 35px;
  }
  .feedback .comment textarea {
    width: 16rem;
  }
  .feedback-people .ball-name {
    font-size: 13px;
    width: 150px;
  }
  .star {
    width: 20px;
    height: 20px;
  }
  .feedback .language-flags .language button {
    position: relative;
    top: 1px;
  }
}

@media screen and (max-width: 440px) {
  .feedback {
    max-width: 400px;
    padding: 0.15in;
    border-radius: 35px;
  }
  .feedback .comment textarea {
    width: 16rem;
  }
}
