@media screen and (max-width: 1250px) {
  .navbar .navbar-content h1 {
    font-size: 35px;
    margin: 10px 0;
  }

  .navbar .navbar-content h3 {
    font-size: 13.5pt;
  }

  .navbar .brand img {
    width: 165px;
  }
}

@media screen and (max-width: 390px) {
  .feedback-tutorial { 
    flex-wrap: wrap;
  }
  .navbar .navbar-content h1 {
    font-size: 25px;
  }
  .feedback-video-modal {
    display: var(--flex);
    align-items: var(--flex-center);
    justify-content: flex-end;
    margin: 15px 20px;
    width: 100%;
  }
  .feedback {
    max-width: 300px;
    padding: 0.15in;
    border-radius: 35px;
  }
  .feedback .comment textarea {
    width: 16rem;
  }
  .feedback-peoples .feedback-people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px 0;
  }
  .feedback-people .ball-name {
    margin: 10px 0;
  }
}

@media screen and (max-width: 440px) {
  .feedback-tutorial { 
    flex-wrap: wrap;
  }
  .navbar .navbar-content h1 {
    font-size: 25px;
  }
  .feedback-video-modal {
    display: var(--flex);
    align-items: var(--flex-center);
    justify-content: flex-end;
    margin: 15px 20px;
    width: 100%;
  }
  .feedback {
    max-width: 400px;
    padding: 0.15in;
    border-radius: 35px;
  }
  .feedback .comment textarea {
    width: 16rem;
  }
  .feedback-peoples .feedback-people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 15px 0;
  }
  .feedback-people .ball-name {
    margin: 10px 0;
  }
}